### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/ZippedTasks/
/qodana.yaml
/.idea/
/Lab3/src/JAVA_03_01.class
/Lab3/src/JAVA_03_02.class
/Lab3/src/JAVA_03_03.class
/Lab3/src/JAVA_03_04.class
/Lab3/src/JAVA_03_05.class
/Lab3/src/JAVA_03_06.class
/Lab3/src/JAVA_03_09.class
/Lab3/src/JAVA_03_10.class
/Lab4/src/Ex1/JAVA_04_01$LCGNumberGenerator.class
/Lab4/src/Ex1/JAVA_04_01.class
/Lab4/src/Ex2/JAVA_04_02.class
/Lab4/src/Ex3/JAVA_04_03.class
/Lab4/src/Ex4/JAVA_04_04.class
/Lab3/src/term/jline.jar
/Lab3/src/term/ScreenBuffer.class
/Lab3/src/term/term.class
/Lab3/src/term/term.java
